*,*::before, *::after{
   box-sizing: border-box; 
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --color-neutral: 200;
    --color-wrong:0;
    --color-correct:145;
}

body{
    --color: var(--color-neutral);
    padding:0;
    margin:0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--color),100%,20%);
}

body.correct{
    --color: var(--color-correct)
}

body.wrong{
    --color: var(var(--color-wrong))
}

.container{
    position: absolute;
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap:10px;
    margin:20px 0;
}

.btn{
    --color: var(--color-neutral);
    border:1px solid darkblue;
    background-color: hsl(var(--color),100%,50%);
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    color:white;    
}

.btn:hover{
    border-color: black;
}

.btn.correct{
 --color: var(--color-correct);
 color: black;
}

.btn.wrong{
 --color: var(--color-wrong);
}

.start-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 10px 20px;

}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.timer{
    position: absolute;
    top: -10px;
    right:10px;

}